/*
github.com/saurabhdaware/github-profile-card/blob/master/cardStyle.js
*/

@import url('https://fonts.googleapis.com/css?family=Play');
.github-card {
    padding: 0px;
    display: inline-block;
    border-radius: 16px;
    overflow: hidden;
    border: 0px solid black;
    min-width: 260px;
    min-height: 100%;
    font-family: 'Play', sans-serif;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19)
}

.github-card-container {
    position: relative;
    padding: 3px;
    margin: 0;
    background-color: rgb(9, 9, 9);
    height: 100%;
    width: 100%;
}

.github-card-header {
    background-color: rgb(13, 13, 13);
    height: 100px;
    width: 100%;
}

.github-card-content {
    position: absolute;
    top: 45px;
}

.github-card-avatar {
    border-radius: 200px;
    border: 1px solid black;
    margin-left: 3px;
    margin-right: 2px;
}

.github-card-logo {
    float: right;
    margin: 10px;
    width: 30px;
}

.github-card-name {
    color: whitesmoke;
    font-weight: bold;
    font-size: 15pt;
}

.github-card-button {
    text-decoration: none;
    background: #1a1a1a;
    border: 1px solid rgba(27, 31, 35, 0.2);
    font-size: 10pt;
    color: rgb(255, 255, 255);
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
}

.github-card-button:hover {
    background: #1a1a1a;
}

.github-card-textlogo {
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0.5;
}

.github-card-repos {
    max-height: 200px;
    overflow-y: auto;
}

.github-card-repos::-webkit-scrollbar {
    width: 3px;
}

.github-card-repos::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.github-card-repos::-webkit-scrollbar-thumb {
    background: #333
}

.github-card-repo {
    font-size: 9pt;
    margin: 5px;
    padding: 7px;
    background-color: 1a1a1a;
    padding-left: 20px;
}

.github-card-repo-headline {
    font-size: 11pt;
    color: #189b80;
    text-decoration: none;
}

.github-card-repo-desc {
    font-size: 7pt;
    color: rgb(255, 255, 255);
}