@import url(//db.onlinewebfonts.com/c/294afa63edf49dc293dd90373066b4d4?family=Whitney);
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html {
    background: #16161d;
    -webkit-font-smoothing: antialiased !important;
    color: whitesmoke;
}

h5 {
    margin-top: 4px;
}

body,
input,
button {
    font-family: "Whitney", sans-serif;
}

.content {
    margin-top: 12px;
    width: 100%;
    flex-direction: row;
    white-space: nowrap;
    float: left;
}

.profilecard {
    position: inherit;
    width: 250px;
    margin: 0 auto 0 auto;
    border-radius: 4px;
    border: 1px solid #23262a;
    background: #2f3136;
    display: flex;
    float: left;
    flex-direction: column;
}

.profilecard .me {
    position: relative;
    padding-top: 15px;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #202225;
    color: #fff;
}

.profilecard .me .avatar {
    position: relative;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    width: 80px;
    height: 80px;
}

.profilecard .me .avatar img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profilecard .me .username {
    position: relative;
    margin: 15px auto 15px auto;
    text-align: center;
    font-size: 14px;
}

.profilecard .me .username strong {
    color: #fff;
}

.profilecard .me .username span {
    color: #3d3e41;
    letter-spacing: -1px;
}

.profilecard .role,
.profilecard .note {
    padding: 0.5rem 0.5rem 2rem 0.5rem;
    color: #44464b;
    font-size: 10px;
    display: flex;
    flex-direction: column;
}

.profilecard .note .noteheader {
    padding-bottom: 0.5rem;
}

.profilecard .note textarea {
    padding: 0.5rem;
    resize: none;
    background: transparent;
    border: 0;
    color: #72767d;
    font-size: 10px;
}

.profilecard .note textarea:hover {
    background: #202225;
}

.profilecard .message {
    padding: 0.5rem;
    border-top: 1px solid #23262a;
}

.profilecard .message input {
    width: 100%;
    border: 1px solid #23262a;
    background: #36393f;
    padding: 0.5rem;
    color: hsla(0, 0%, 100%, .7);
    font-size: 12px;
}

.profilecard .tip {
    font-size: 10px;
    padding: 0.2rem 0.5rem;
}

.profilecard .tip strong {
    color: rgb(67, 181, 129);
}

.profilecard .tip span {
    color: #72767d;
}

.align_content {
    position: inherit;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.textar {
    min-width: 600px;
    min-height: 280px;
    overflow-x: hidden;
    top: -7px;
    position: relative;
    --input-border: #000000;
    font-size: 16px;
    font-size: max(16px, 1em);
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: rgb(20, 20, 20);
    border: 2px solid var(--input-border);
    border-radius: 4px;
    line-height: 1;
    font-size: 0.9em;
    padding-top: 0.35rem;
    border-style: dotted;
    color: rgb(206, 206, 206);
}

.tgme_page {
    float: left;
    transform: scale(1, 0.95);
    position: relative;
    margin: 0px auto;
    padding: 32px 0;
    max-width: 400px;
    background: var(--box-bg);
    border-radius: 16px;
    background-color: rgb(9, 9, 9);
    transition: all .15s ease .15s;
}

.tgme_page_photo {
    text-align: center;
    padding-bottom: 16px;
    border-radius: 50%;
}

.tgme_page_title {
    font-size: 26px;
    line-height: 32px;
    font-weight: bold;
    text-align: center;
    max-width: 340px;
    padding: 0 10px;
    margin: 0 auto;
    color: var(--text-color);
    overflow: hidden;
    text-overflow: ellipsis;
}

.tgme_page_extra {
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    padding: 6px 16px 0;
    color: var(--second-text-color);
}

.tgme_page_description {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    max-height: 125px;
    word-break: break-word;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    margin: 10px 16px 0;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tgme_page_action {
    text-align: center;
    margin-top: 24px;
    line-height: 0;
}

a.tgme_action_button_new {
    font-size: 14px;
    line-height: 17px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    color: #FFF;
    background: #5dc390;
    border-radius: 22px;
    overflow: hidden;
    display: inline-block;
    padding: 13px 24px;
    height: 42px;
    text-transform: uppercase;
    vertical-align: top;
    background-color: var(--accent-btn-color);
    background-color: #189b80;
}

.tgme_page_additional {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    padding: 0 16px;
    margin: 20px 0 0;
    color: var(--second-text-color);
    margin-top: 24px;
}

.sidenav {
    min-height: 100%;
    width: 120px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
}

.sidenav a,
.dropdown-btn {
    margin-top: 5px;
    padding: 0px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.sidenav a:hover,
.dropdown-btn:hover {
    color: #f1f1f1;
    background-color: #5dc390;
}

.main {
    margin-left: 120px;
    font-size: 20px;
    padding: 0px 10px;
}

.active {
    background-color: rgba(93, 195, 144, 0.7);
    color: white;
}

.dropdown-container {
    display: none;
    background-color: #262626;
}

.fa-caret-down {
    float: right;
    padding-right: 8px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.twitter-tweet {
    text-decoration: line-through;
    display: inline-block;
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    max-width: 468px;
}

.git_hub {
    margin-top: 12px;
}